* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    color: #111;
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.app {
    min-height: 100vh;
}