.sidebar-overlay {

    position: fixed;

    inset: 0;

    background: rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(16px);

    -webkit-backdrop-filter: blur(16px);

    z-index: 100;

    animation: fadeIn 0.25s ease;
}

.sidebar {

    position: fixed;

    top: 90px;

    left: 20px;

    width: 340px;

    height: calc(100vh - 110px);

    padding: 32px;

    border-radius: 30px;

    background: linear-gradient(
        180deg,
        #6862ff,
        #5752f0
    );

    color: white;

    z-index: 150;

    box-shadow: 0 30px 80px rgba(
        0,
        0,
        0,
        0.25
    );

   animation: slideIn 0.28s ease;
}

.sidebar-section {

    margin-bottom: 42px;
}

.sidebar-section h2 {

    font-size: 30px;

    margin-bottom: 12px;
}

.sidebar-section p {

    opacity: 0.8;

    margin-bottom: 20px;
}

.sidebar-section ul {

    list-style: none;

    padding: 0;
}

.sidebar-section li {

    padding: 14px 18px;

    border-radius: 16px;

    cursor: pointer;

    transition: 0.2s ease;
}

.sidebar-section li:hover {

    background: rgba(
        255,
        255,
        255,
        0.15
    );
}

@keyframes slideIn {

    from {

        transform: translateX(-40px);

        opacity: 0;
    }

    to {

        transform: translateX(0);

        opacity: 1;
    }
}

@keyframes fadeIn {

    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}